<!DOCTYPE html>
<html lang="en" ng-app="kode">
  <head>
    <meta charset="utf-8">
    <title>List Dengan Angular</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
    <script src="angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
      <div class="container" ng-controller="appCtrl">
        <div class="page-header">
          <h1>Add & Search List <small>AngularJs</small></h1>
        </div>
        <div class="row">
          <div class="col-md-4">
            <form action="" ng-submit="baru($event)">
              <div class="form-group">
                <label for="name">Nama</label>
                <input type="text" class="form-control" ng-model="nameInput">
              </div>
              <div class="form-group">
                <label for="Age">Usia</label>
                <input type="text" class="form-control" ng-model="ageInput">
              </div>
              <button class="btn btn-primary btn-block">Tambah</button>
            </form>
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control input-lg" placeholder="cari sesuatu . . ." ng-model="cari">
            <br>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="item in temans | filter:cari">
                {{item.nama}} usianya {{item.age}}
                <button class="btn btn-danger pull-right" ng-click="hapus($index)"><i class="fa fa-trash-o"></i></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </body>
</html>
